@{
    ViewBag.Title = "Painel do Administrador";
}

<h2>Painel do Administrador</h2>

<div>
    <p>@Html.ActionLink("Administrar usuários", "AdministrarUsuarios", null, null)</p>

    <p>@Html.ActionLink("Administrar acessos", "ManageRoles", null, null)</p>
</div>