@{
    ViewBag.Title = "Painel do Administrador";
}

<h2>Painel do Administrador</h2>

<div>
    <p>@Html.ActionLink("Administrar usuários", "AdministrarUsuarios")</p>

    <p>@Html.ActionLink("Administrar acessos", "ManageRoles")</p>
</div>