<script type="text/javascript">

    var aCadastrarCNPJ = null;

    $(document).ready(function () {
        aCadastrarCNPJ = new CadastrarCNPJ();
        aCadastrarCNPJ.inicializar("secCadastrarCNPJ");
    });

</script>

<section style="margin-top:25px;" id="secCadastrarCNPJ">
    <form>
        <div class="form-group">
            <label for="CNPJ">CNPJ</label>
            <input class="form-control" data-bind="value: CNPJ" placeholder="CNPJ...">
        </div>

        <button style="margin-bottom:10px;" type="button" data-bind="click:buscarReceita" class="btn btn-primary">Buscar</button>

        <div class="form-group">
            <label for="situacao">Situacao</label>
            <input class="form-control" data-bind="value: situacao" placeholder="situacao...">
        </div>
        <div class="form-group">
            <label for="fantasia">Nome Fantasia</label>
            <input class="form-control" data-bind="value: fantasia" placeholder="fantasia...">
        </div>
        <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input class="form-control" data-bind="value: logradouro" placeholder="logradouro...">
        </div>
        <div class="form-group">
            <label for="numero">Número</label>
            <input class="form-control" data-bind="value: numero" placeholder="numero...">
        </div>
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input class="form-control" data-bind="value: bairro" placeholder="bairro...">
        </div>
        <div class="form-group">
            <label for="cep">CEP</label>
            <input class="form-control" data-bind="value: cep" placeholder="cep...">
        </div>
        <div class="form-group">
            <label for="municipio">Municipio</label>
            <input class="form-control" data-bind="value: municipio" placeholder="municipio...">
        </div>
        <div class="form-group">
            <label for="uf">UF</label>
            <input class="form-control" data-bind="value: uf" placeholder="uf...">
        </div>

        <button type="submit" data-bind="click:cadastrarEmpresa" class="btn btn-success">Cadastrar</button>
    </form>
</section>