<section>
    <h2>Sobre o website</h2>

    <hr />

    <p>
        Esta ferramenta combina a praticidade de ter seus dados parametrizados e criados (desde que préviamente definidos) automaticamente
        junto com a disponibilidade e confiança que uma aplicação de nuvem oferece.
    </p>
    <p>Nela, seus dados estarão armazenados com segurança e disponíveis de qualquer lugar para visualização e/ou edição e em qualquer dispositivo!</p>
</section>

<style>
    p{
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
        text-indent:3em;
    }
</style>