<h2>Contato</h2>

<address>
    Fatec Rubens Lara<br />
    Av. Senador Feijó, 350 - Vila Matias, Santos - SP, 11015-502<br />    
</address>

<address>
    <strong>Criador:</strong>   <a href="mailto:haryel.assencao@fatec.sp.gov.br">haryel.assencao@fatec.sp.gov.br</a><br />    
</address>